.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-color);
  background-color: var(--accent-color);
  backdrop-filter: blur(17px);
  border-radius: 15px;
  padding: 13px 24px;
  max-width: 171px;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: var(--accent-hover-color);
  }

  &::after {
    content: "";
    margin-left: 60px;
    width: 50px;
    height: 300px;
    background: #fff;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -40px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    filter: blur(1px);
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}