<div class="widget-modal">
  <div class="widget-modal__window">
    <div class="widget-modal__window-inner">
      <div class="widget-modal__top">
        <a href="#" class="widget-modal__btn button">Оставить отзыв</a>
        <button class="widget-modal__close btn-reset" aria-label="Закрыть окно"></button>
      </div>
      <div class="review__cards widget-modal__cards">
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">26 марта 2023 г.</div>
                <div class="widget-modal__card-name">Maxim</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Фильтр для воды»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое выполнено качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
      </div>
      <button class="review__card-btn btn-reset button">Еще</button>
    </div>
  </div>
</div>
