<div class="widget-modal">
  <div class="widget-modal__window">
    <div class="widget-modal__window-inner">
      <div class="widget-modal__top">
        <a href="#" class="widget-modal__btn button">Оставить отзыв</a>
        <button class="widget-modal__close btn-reset" aria-label="Закрыть окно"></button>
      </div>
      <div class="review__cards widget-modal__cards" data-container="2">
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%92/6_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">10 марта 2023 г.</div>
                <div class="widget-modal__card-name">владимир</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Москитные сетки за полчаса»</span>
            </div>
            <div class="review__card-comment">
              Спасибо большое сетки выполнены качественно и быстро...
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%9F/13_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">15 февраля 2023 г.</div>
                <div class="widget-modal__card-name">ПАВЕЛ</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Москитные сетки за полчаса»</span>
            </div>
            <div class="review__card-comment">
              Все хорошо. Приехал в заранее оговоренное время, сделал замеры всех окон, на месте изготовил комплекты
              москитных сеток и установил. Очень удобно, после того, как установил, я произвел оплату.
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%90/10_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">11 февраля 2023 г.</div>
                <div class="widget-modal__card-name">Анатолий</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Москитные сетки за полчаса»</span>
            </div>
            <div class="review__card-comment">
              Всё понравилось, быстро, качественно, недорого. Рекомендую.
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy"
                   src="https://70.img.avito.st/image/1/1.sO76Jra2CgfMgZ4Bljj-izKFHA1EBRqFSIUe.M0oFpOQrTPuf7zfkvPwQ5uDCFEqX-r2cd7C7SLWnoJU"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">28 января 2023 г.</div>
                <div class="widget-modal__card-name">Marina</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Москитные сетки за полчаса»</span>
            </div>
            <div class="review__card-comment">
              Пунктуальный и профессиональный мастер. Работа выполнена аккуратно, быстро и по оговоренной цене.
              Однозначно рекомендую! Ярославу - удачи!
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy" src="https://static.avito.ru/stub_avatars/%D0%9D/3_256x256.png"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">17 декабря 2022 г.</div>
                <div class="widget-modal__card-name">Наталья</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Ремонт окон»</span>
            </div>
            <div class="review__card-comment">
              Сломалась балконная дверь, перестала до конца закрываться, Ярослав в тот же день сделал диагностику и все
              починил. Большое спасибо!
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
        <div class="review__card widget-modal__card">
          <div class="review__card-top widget-modal__card-top">
            <div class="review__card-left widget-modal__card-left">
              <img loading="lazy"
                   src="https://50.img.avito.st/image/1/1.63kSD7a2UZAkqMWWSEinD-qsR5qsLEESoKxF.0Zha4wTyAxQ8U03HfZqdRpIOt5ggJaa8KQdnnyCaBG4"
                   class="review__card-avatar" width="50" height="50" alt="Аватарка">
              <div class="review__card-info">
                <div class="widget-modal__card-date">7 декабря 2022 г.</div>
                <div class="widget-modal__card-name">Вин Номерович</div>
                <div class="review__rating-stars">
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path
                      d="M5.987 9.42l-3.26 1.991a.48.48 0 0 1-.715-.526l.945-3.764L.216 4.988A.48.48 0 0 1 .47 4.13l3.586-.295L5.552.348a.48.48 0 0 1 .883.001l1.483 3.486 3.61.296a.48.48 0 0 1 .255.857L9.031 7.121l.943 3.766a.48.48 0 0 1-.715.527L5.987 9.419z"
                      fill="#ffcc00"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="review__card-body">
            <div class="review__card-title">
              Сделка состоялась <span>«Москитные сетки за полчаса»</span>
            </div>
            <div class="review__card-comment">
              Всё прошло отлично!
            </div>
            <a href="#" class="review__card-link">
              Отзыв Avito
            </a>
          </div>
        </div>
      </div>
      <button class="review__card-btn btn-reset button" data-btn="2">Еще</button>
    </div>
  </div>
</div>
